em,
i {
  font-family: 'Roboto Italic', 'Roboto Light Italic', sans-serif; 
  font-style: normal;
}

b,
strong {
  font-family: 'Roboto', sans-serif; 
  font-style: normal;
}

em strong, 
em b, 
strong em, 
strong i {
  font-family: 'Roboto Bold Italic', sans-serif; 
  font-style: normal;
}

h2,
h2 a {
  @include h2-title;
}

h3,
h3 a {
  @include h3-title;
}

h4,
h4 a {
  @include h4-title;
}

.rubric-h2 {
  @include h2-rubric;
}

.rubric-h3,
.h3-rubric {
  @include h3-rubric;
}

p {
  @include h2-teaser;
}

.pane-title {
  @include event-title;
}

.bean-namu-header-info-block p {
  @include opening;
  margin: 0;
}

.icon:hover {
  cursor: pointer;
}